
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error409</title>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="alert-danger">ERROR</h1>
            <p class="danger">Error 409</p>
        </div>
    </div>
</body>
</html>
