
@{
    ViewBag.Title = "Error 404";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="alert-danger" >ERROR</h1>
            <p class="danger">Error 404</p>
        </div>
    </div>
</body>
</html>
